.red-font {
    color:#b10012;
    font-family:"dubai-font";
}

.overflow {
    overflow:auto;
}

.news-photo {
    width:100% !important;
    border-top:.5rem solid #b10012;
}

.footer {
    background: #b10012;
    padding: 2rem 0;
    margin-top:0px !important;
}

.noticia {
    max-height: 484px !important;
}

.heraldofont {
    font-family:"dubai-font";
}

.card__image {
    max-height: 248px !important;
}

table {
    white-space: nowrap;
}